[Unit]
Description=webcppd http server

[Service]
Type=forking
ExecStart=/bin/bash /usr/bin/webcppd-service.sh start
ExecStop=/bin/bash /usr/bin/webcppd-service.sh stop
ExecReload=/bin/bash /usr/bin/webcppd-service.sh restart
PIDFile=/var/run/webcppd.pid

[Install]
WantedBy=multi-user.target
